# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#C::B information
*.cbp

#specific project files
Watershed_reduction*

#output folders
bin/
